<div class="row">
	<h1>Card Builder</h1>

	<a href="/edit" class="btn btn-default">New</a>
	<br />
	<br />
	Total Cards: {{main.cards.allCards.length}}
	<hr />
	<table datatable="ng" class="table row-border hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>cost</th>
				<th>type</th>
				<th>subtype</th>
				<th>tier</th>
				<th>text</th>
				<th>power</th>
				<th>toughness</th>
				<th>img</th>
				<th>abilities</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="card in main.cards.allCards">
				<td><a href="/edit/{{card._id}}">{{card.name}}</a></td>
				<td>{{card.cost}}</td>
				<td>{{card.type}}</td>
				<td>{{card.subtype}}</td>
				<td>{{card.tier}}</td>
				<td style="width: 20%">{{card.text}}</td>
				<td>{{card.power}}</td>
				<td>{{card.toughness}}</td>
				<td>{{card.img}}</td>
				<td>
					<div ng-repeat="ability in card.abilities">
						{{ability.name}}: {{ability.value}}
						<span ng-show="ability.name == 'createCreatureToken' || ability.name == 'addCardToCurrency' || ability.name == 'addCardToDiscard'">
							<a href="/edit/{{main.getCardFromName(ability.value)._id}}">
								{{main.getCardFromName(ability.value)._id ? 'edit' : 'ERROR'}}
							</a>
						</span>
					</div>
				</td>
			</tr>

		</tbody>
	</table>
</div>